## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [2]:
#  Import and read the charity_data.csv.
worksheet = gc.open('charity_data').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

In [3]:
# read in dataframe, reset first row to header
df = pd.DataFrame.from_records(rows)
df.columns = df.iloc[0]
df = df[1:]
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
1,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
2,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
3,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
4,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
5,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df2 = df.drop(['EIN', 'NAME', 'USE_CASE', 'STATUS', 'SPECIAL_CONSIDERATIONS'], 1)
df2.head()

<ipython-input-4-f5ddc02f7860>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2 = df.drop(['EIN', 'NAME', 'USE_CASE', 'STATUS', 'SPECIAL_CONSIDERATIONS'], 1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
1,T10,Independent,C1000,Association,0,5000,1
2,T3,Independent,C2000,Co-operative,1-9999,108590,1
3,T5,CompanySponsored,C3000,Association,0,5000,0
4,T3,CompanySponsored,C2000,Trust,10000-24999,6692,1
5,T3,Independent,C1000,Trust,100000-499999,142590,1

In [5]:
# Determine the number of unique values in each column.
df2.nunique()

0
APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = df2['APPLICATION_TYPE'].value_counts()

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
df2
application_types_to_replace = list(application_counts[application_counts < 300].index)

# Replace in dataframe
for app in application_types_to_replace:
    df2['APPLICATION_TYPE'] = df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = df2['CLASSIFICATION'].value_counts()

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df2['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 250].index)


# Replace in dataframe
for cls in classifications_to_replace:
    df2['CLASSIFICATION'] = df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df = pd.get_dummies(df2)
application_dummy_df = application_dummy_df.drop(['IS_SUCCESSFUL_1'], 1)
application_dummy_df.head()

<ipython-input-11-b8ba0198d718>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  application_dummy_df = application_dummy_df.drop(['IS_SUCCESSFUL_1'], 1)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ASK_AMT_997073,ASK_AMT_9971,ASK_AMT_99821,ASK_AMT_99859,ASK_AMT_99877,ASK_AMT_99879,ASK_AMT_9990,ASK_AMT_999468,ASK_AMT_99982,IS_SUCCESSFUL_0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays

y = application_dummy_df['IS_SUCCESSFUL_0'].values
X = application_dummy_df.drop(["IS_SUCCESSFUL_0"], axis='columns').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=8783))

# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 5)                 43920

 dense_11 (Dense)            (None, 1)                 6

 dense_12 (Dense)            (None, 1)                 2

=================================================================
Total params: 43,928
Trainable params: 43,928
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 6ms/step - loss: 0.6415 - accuracy: 0.6601
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5978 - accuracy: 0.7046
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5827 - accuracy: 0.7205
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5778 - accuracy: 0.7236
Epoch 5/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5729 - accuracy: 0.7283
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5568 - accuracy: 0.7372
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5307 - accuracy: 0.7608
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4963 - accuracy: 0.7921
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4799 - accuracy: 0.8024
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4640 - accuracy: 0.8071
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4480 - accuracy: 0.8070
Epoch 12/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4378 - accuracy: 0.8071
Epoch 13/100
804/804 [==============================] - 6s 8ms/step - loss: 0.4311 - accuracy: 0.8062
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4263 - accuracy: 0.8063
Epoch 15/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4215 - accuracy: 0.8053
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4192 - accuracy: 0.8068
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4165 - accuracy: 0.8074
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4145 - accuracy: 0.8073
Epoch 19/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4132 - accuracy: 0.8077
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4115 - accuracy: 0.8086
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4112 - accuracy: 0.8082
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4090 - accuracy: 0.8096
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4086 - accuracy: 0.8085
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4076 - accuracy: 0.8090
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4068 - accuracy: 0.8111
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4061 - accuracy: 0.8095
Epoch 27/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4059 - accuracy: 0.8099
Epoch 28/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4052 - accuracy: 0.8103
Epoch 29/100
804/804 [==============================] - 7s 9ms/step - loss: 0.4042 - accuracy: 0.8111
Epoch 30/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4036 - accuracy: 0.8102
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4034 - accuracy: 0.8109
Epoch 32/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4028 - accuracy: 0.8108
Epoch 33/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4022 - accuracy: 0.8113
Epoch 34/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4021 - accuracy: 0.8112
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4013 - accuracy: 0.8113
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4009 - accuracy: 0.8115
Epoch 37/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4012 - accuracy: 0.8108
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4008 - accuracy: 0.8109
Epoch 39/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4003 - accuracy: 0.8115
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4006 - accuracy: 0.8107
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4000 - accuracy: 0.8107
Epoch 42/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4005 - accuracy: 0.8117
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3996 - accuracy: 0.8114
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4000 - accuracy: 0.8121
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3995 - accuracy: 0.8111
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3995 - accuracy: 0.8114
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3991 - accuracy: 0.8121
Epoch 48/100
804/804 [==============================] - 6s 7ms/step - loss: 0.3987 - accuracy: 0.8124
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3987 - accuracy: 0.8130
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3986 - accuracy: 0.8120
Epoch 51/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3987 - accuracy: 0.8125
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3990 - accuracy: 0.8120
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3976 - accuracy: 0.8125
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3986 - accuracy: 0.8126
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3980 - accuracy: 0.8127
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3979 - accuracy: 0.8121
Epoch 57/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3974 - accuracy: 0.8125
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3975 - accuracy: 0.8131
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3975 - accuracy: 0.8127
Epoch 60/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3975 - accuracy: 0.8125
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3971 - accuracy: 0.8131
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3969 - accuracy: 0.8131
Epoch 63/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3974 - accuracy: 0.8127
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3986 - accuracy: 0.8124
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3982 - accuracy: 0.8130
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3965 - accuracy: 0.8137
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3964 - accuracy: 0.8133
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3966 - accuracy: 0.8136
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3966 - accuracy: 0.8138
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3965 - accuracy: 0.8136
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3961 - accuracy: 0.8138
Epoch 72/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3964 - accuracy: 0.8140
Epoch 73/100
804/804 [==============================] - 4s 4ms/step - loss: 0.3961 - accuracy: 0.8139
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3968 - accuracy: 0.8132
Epoch 75/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3962 - accuracy: 0.8136
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3962 - accuracy: 0.8141
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3964 - accuracy: 0.8137
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3962 - accuracy: 0.8136
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3964 - accuracy: 0.8129
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3965 - accuracy: 0.8137
Epoch 81/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3962 - accuracy: 0.8139
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3957 - accuracy: 0.8131
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3966 - accuracy: 0.8138
Epoch 84/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3961 - accuracy: 0.8133
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3962 - accuracy: 0.8137
Epoch 86/100
804/804 [==============================] - 6s 7ms/step - loss: 0.3960 - accuracy: 0.8141
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3961 - accuracy: 0.8131
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3956 - accuracy: 0.8138
Epoch 89/100
804/804 [==============================] - 4s 6ms/step - loss: 0.3962 - accuracy: 0.8138
Epoch 90/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3959 - accuracy: 0.8130
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3961 - accuracy: 0.8135
Epoch 92/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3958 - accuracy: 0.8139
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3962 - accuracy: 0.8137
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3965 - accuracy: 0.8141
Epoch 95/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3966 - accuracy: 0.8136
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3962 - accuracy: 0.8136
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3958 - accuracy: 0.8144
Epoch 98/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3960 - accuracy: 0.8139
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3960 - accuracy: 0.8141
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3957 - accuracy: 0.8138

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6127 - accuracy: 0.7209 - 785ms/epoch - 3ms/step
Loss: 0.6126636862754822, Accuracy: 0.7209329605102539

In [27]:
# Export our model to HDF5 file
nn_model.to_hdf('AlphabetSoupCharity_Optimization.h5')

AttributeError: ignored